.product-container {
  background-color: #ecaca5;
  padding: 4vh;
  max-width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 2px solid #f27078;
}

.image {
  height: 30vh;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.product-name,
.product-price {
  text-align: center;
  font-weight: bold;
  padding: 1vh;
}

.previous-next-button {
  width: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2vh;
}

.previous-button,
.next-button {
  background-color: #f27078;
  border-radius: 10%;
  border-style: none;
  font-size: 100%;
  font-weight: bold;
  width: 8vh;
  height: 5vh;
}

@media only screen and (max-width: 850px) {
  .image {
    height: 20vh;
  }

  .product-name,
  .product-price {
    font-size: 20px;
  }

  .previous-next-button {
    width: 26vh;
  }
}

@media only screen and (max-width: 450px) {
  .product-container {
    height: 50vh;
  }
  .image {
    height: 15vh;
  }

  .product-name,
  .product-price {
    font-size: 12px;
  }
  .previous-next-button {
    width: 20vh;
  }

  .previous-button,
  .next-button {
    font-size: 80%;
  }
}
    