.nameAgePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffd3d3;
  font-family: "Roboto", sans-serif;
}

.presentName {
  font-size: 36px;
  color: rgb(71, 71, 71);
}

.nameInput,
.ageInput {
  width: 100%;
  max-width: 400px;
}

.nameAgeText {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(71, 71, 71);
}

.nameAgeInput {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  width: 100%;
  font-size: 18px;
}

.nextPageButton {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.nextPageButton:hover {
  background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
  .nameAgeInput,
  button {
    font-size: 16px;
  }

  .nameAgeText {
    font-size: 18px;
  }

  .nameInput,
  .ageInput {
    max-width: 80%;
    margin: 10px;
  }

  .nextPageButton {
    width: 80%;
    margin: 10px;
  }
}
